* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--color-plain-text);
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    font-size: var(--font-size-small);
    font-family: inherit;
    color: #ffffff;
    padding: 0 6px;
}

form input {
    color: var(--color-plain-text);
    border: 1px solid var(--border-color-active);
    background-color: var(--background-color-input);
    font-size: inherit;
    padding: 5px;
    width: 100%;
}

ul {
    list-style: none;
    overflow-y: scroll;
}

ul li:hover,
ul li *:hover,
i:hover,
button:hover {
    cursor: pointer;
}

.active {
    background-color: var(--background-color);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-name {
    margin-left: 6px;
}

.folder-name {
    margin-left: 6px;
}

.grid {
    display: grid;
}

.icon {
    font-size: var(--font-size-small);
}

i.icon.fa-align-right {
    rotate: 180deg;
    color: var(--color-icon);
}

i.fa-js {
    color: #ffff00;
}

i.fa-html5 {
    color: #ff4500;
}
