@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
    height: 100%;
}

body {
    display: grid;
    /* header | editor | footer */
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    min-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-base);
}

main {
    position: relative;
    display: grid;
    /* sidebar | editor */
    grid-template-columns: 350px 1fr;
    background-color: var(--background-color);
}

main > div.grid {
    /* editor | minimap */
    grid-template-columns: 1fr 120px;
    grid-column: 2;
}

main > div.grid > nav {
    grid-column: 1 / 3;
    position: sticky;
    top: 0;
    height: 65px;
    background-color: var(--background-color-toolbar);
    overflow: hidden;
    z-index: 1;
}

main > div.grid > nav > ul > li {
    color: var(--color-plain-text);
}

main > div.grid > nav > ul.tabs {
    /* Tabs space - settings panel */
    width: calc(100% - 100px);
    justify-content: flex-start;
    overflow-x: scroll;
}

main > div.grid > nav > ul.tabs > li {
    position: relative;
    justify-content: flex-start;
    flex: 0 0 130px;
    width: 130px;
    height: 35px;
    padding: 20px;
}

main > div.grid > nav > ul.tabs > li.active > span {
    color: var(--color-active-text);
}

main > div.grid > nav > ul.tabs > li.indicator span::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-plain-text);
    border-radius: 50%;
    margin: 2px 0 0 1.4rem;
}

main > div.grid > nav > ul.tabs > li:hover {
    background-color: var(--background-color-active-list-item);
}

main > div.grid > nav > ul.tabs > li:not(:first-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

main > div.grid > nav > ul.settings {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    justify-content: center;
    width: 100px;
    background-color: var(--background-color-toolbar);
}

main > div.grid > nav > ul.settings > li {
    padding: 0 0.5rem;
}

main > div.grid > nav > ul.breadcrumb {
    height: 25px;
    justify-content: flex-start;
    overflow-x: scroll;
    background-color: var(--background-color);
}

main > div.grid > nav > ul.breadcrumb > li {
    padding-left: 12px;
}

main > div.grid > nav > ul.breadcrumb > li > a:hover {
    color: var(--color-active-text);
}

main > div.grid > nav > ul.breadcrumb > li > i {
    font-size: var(--font-size-small);
    padding-left: 6px;
}

main > div.grid > nav > ul.breadcrumb > li:not(:last-child)::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: var(--font-size-tiny);
    padding-left: 8px;
}

main > div.grid > section.editor *,
main > div.grid > section.minimap * {
    font-family: "Oxygen Mono", monospace;
}

main > div.grid > section.editor {
    display: grid;
    /* line numbers | content area */
    grid-template-columns: 65px 1fr;
    grid-column: 1;
}

main > div.grid > section.editor > * {
    /* Window height - (tab navigation height + footer height) */
    height: calc(100vh - (65px + 25px));
    width: 100%;
    background-color: var(--background-color);
    color: var(--color-code);
    font-size: var(--font-size-normal);
    outline: none;
}

main > div.grid > section.editor > div.line-numbers {
    align-items: flex-start;
}

main > div.grid > section code > span {
    display: block;
}

main > div.grid > section.editor > div.line-numbers > span {
    color: var(--color-paragraph);
}

main > div.grid > section.editor > div > span {
    padding: 8px 4px;
}

main > div.grid > section.editor > section.content > code > span {
    padding: 8px 0;
}

main > div.grid > section code > span.highlight {
    background-color: var(--background-color-current-line);
}

main > div.grid > section code span.unknown-word {
    position: relative;
}

main > div.grid > section code span.unknown-word::after {
    content: "~~~~";
    position: absolute;
    left: 0;
    color: var(--color-spellchecker-unknown-word);
}

main > div.grid > section.editor span.unknown-word::after {
    top: 1rem;
}

main > div.grid > section.minimap {
    grid-column: 2;
    position: relative;
    overflow: hidden;
}

main > div.grid > section.minimap > code {
    position: absolute;
    width: 100%;
    color: var(--color-plain-text);
    font-size: 4px;
    user-select: none;
    margin-left: 8px;
}

main > div.grid > section.minimap > code span.unknown-word::after {
    top: 4px;
}

main > aside {
    grid-column: 1;
    grid-row: 1;
}

main > aside > div.grid {
    /* icons | explorer */
    grid-template-columns: 50px 1fr;
    height: 100%;
}

main > aside > div.grid > ul.icons {
    grid-column: 1;
    justify-content: flex-start;
    text-align: center;
}
 
main > aside > div.grid > ul.icons > li {
    position: relative;
    width: 100%;
    color: var(--color-default-icon);
    margin-bottom: 25px;
}

main > aside > div.grid > ul.icons > li.active > i {
    color: var(--color-active-text);
}

main > aside > div.grid > ul.icons > li.active::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: -10px;
    height: 50px;
    border-left: 2px solid var(--color-active-text);
}

main > aside > div.grid > ul.icons > li span.indicator {
    position: absolute;
    bottom: -2px;
    right: 8px;
    width: 15px;
    height: 15px;
    background-color: rgb(77, 120, 204);
    border-radius: 50%;
}

main > aside > div.grid > ul.icons > li > span.indicator > label.counter {
    position: absolute;
    color: rgb(217, 217, 217);
    filter: brightness(150%);
    font-size: var(--font-size-tiny);
    transform: translate(-55%, 5%);
}

main > aside > div.grid > ul.icons > li:first-child {
    margin-top: 10px;
}

main > aside > div.grid > ul.icons > li:last-child {
    margin-top: auto;
}

main > aside > div.grid > ul.icons > li:hover {
    color: var(--color-active-text);
}

main > aside > div.grid > ul.icons > li > i {
    font-size: 1.5rem;
}

main > aside > div.grid > ul.icons > li > i.fa-search {
    rotate: 90deg;
}
